@using System.Linq
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NetDevPLWeb.Features.Groups.GroupsViewModel>

@{
    int index = 1;
}

@foreach (var group in Model.GroupsList.OrderBy(g => g.City))
{
    <div class="row">
        <div class="jumbotron clearfix">
            <h2>
                <a href="@group.WebSite" target="_blank">@group.Name (@group.City)</a>
            </h2>

            @if (group.UpcomingMeetings.Count > 0)
            {
                <h3>Lista nadchodzących spotkań</h3>
                <hr/>

                foreach (var meeting in group.UpcomingMeetings)
                {
                    <div id="informationTab_@index">
                        <h4>
                            <a data-toggle="collapse" href="@Html.Raw("#collapse" + index)">@meeting.Date.ToString("yyyy-MM-dd HH:mm") @meeting.Title</a>
                            Limit miejsc: @meeting.Seat.CurrentNumber/@meeting.Seat.TotalNumber
                            @if (meeting.Seat.CurrentNumber >= meeting.Seat.TotalNumber)
                            {
                                <span class="glyphicon glyphicon-remove-sign icon-fail"></span>
                            }
                            else
                            {
                                <span class="glyphicon glyphicon-ok-sign icon-success"></span>
                            }
                        </h4>
                        <div class="collapse" id="@Html.Raw("collapse" + index)">
                            <h5>
                                <a href="@meeting.Link" target="_blank">Link do spotkania</a>
                            </h5>
                            @Html.Raw(meeting.Description)
                        </div>
                    </div>
                    <hr/>
                    @{
                        index++;
                    }
                }
            }
            else
            {
                <h3>Brak informacji o nadchodzących spotkaniach</h3>
            }
        </div>
    </div>
}

<h4 style="color: #eee">Last Updated : @Model.LastUpdate</h4>
