@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NetDevPLWeb.Features.LearnOnline.LearOnlineListViewModel>

<h1>Lista stron z zadaniami/lekcjami dzięki którym zaczniejsz wydajniej używać swoje narzędzia rzemieślnicze.</h1>

<ul>
    @foreach (var toolResource in Model.ToolMastering)
    {
        <li><a href="@toolResource.Url" target="_blank">@toolResource.Title</a> - @toolResource.Description</li>
    }
</ul>


<h1>Lista strron z łamigłówkami programistycznymi</h1>
<ul>
    @foreach (var challenge in Model.ProgrammingChallenges)
    {
        <li><a href="@challenge.Url" target="_blank">@challenge.Title</a> - @challenge.Description</li>
    }
</ul>