@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NetDevPLWeb.Features.OfflineEvents.ConferencesListViewModel>

@foreach (var conference in Model.Conferences)
{
    <div class="row">
        <div class="jumbotron clearfix">
            <a href="@conference.Url" target="_blank">
                <h2>@conference.Title</h2>
            </a>
            <h3>@conference.StartDate.ToString("dd-MM-yyyy") - @conference.EndDate.ToString("dd-MM-yyyy"), <cite>@conference.Location</cite></h3>
        </div>
    </div>
}